// Copyright 2018 Siemens Product Lifecycle Management Software Inc.
@import 'mixins/mixins';
// aw-toolbar
.aw-toolbar-layout {
    @include display_flex;
    @include flex_justify_content;
    margin: auto;

    &.aw-toolbar-vertical {
        height: 100%;
        flex-direction: column;
    }
    &.aw-toolbar-horizontal {
        width: 100%;
        z-index: 4;
        margin-bottom: $horizontal_tool_bar_margin_bottom;
    }
}
