<div class="aw-jswidgets-lovParentContainer aw-jswidgets-lovParent" ng-class="{'aw-jswidgets-popUpVisible': expanded}">
    <div class="aw-layout-flexRowContainer aw-widget-iconParent">
        <input readonly class="aw-jswidgets-choice gwt-ListBox" type="text" aw-widget-initialize aw-autofocus auto-focus="prop.autofocus" ng-model="prop.uiValue" ng-click="toggleDropdown()" ng-class="{'aw-jswidgets-expanded': expanded, 'changed': prop.dirty}" ng-required="prop.isRequired" placeholder="{{prop.propertyRequiredText}}" ng-attr-tabindex="{{prop.tabIndex}}" />
        <aw-property-image name="miscDownArrow_uxRefresh" class="aw-widget-icon" />
    </div>

    <div class="aw-jswidgets-drop aw-layout-popup aw-base-scrollPanel" ng-show="expanded" ng-style="{'marginTop': dropDownVerticalAdj, 'top': lovDDTop, 'left': lovDDLeft, 'width': lovDDWidth}" aw-when-scrolled="requestNextLovEntries()">
        <div class="aw-jswidgets-cbaSearch aw-widget-iconParent" ng-class="filterClass()">
            <input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" ng-model="search.propDisplayValue" />
            <aw-property-image name="cmdSearch" class="aw-widget-icon"></aw-property-image>
        </div>
        <ul class="aw-widgets-cellListWidget">
            <div class="afx-selected-vals">
                <li class="aw-jswidgets-nestingListItem" ng-repeat="lovEntry in filtered = ( selectedPHolders | filter: search)">
                    <div class="aw-jswidgets-nestingListItemDisplay">
                        <span>
                            <div class="afx-checkbox afx-checkbox-label-right">
                                <label>
                                    <input type="checkbox" id="{{lovEntry.propInternalValue + $id}}" class="aw-jswidgets-checkboxButton" ng-model="lovEntry.sel" ng-change="updateArray(lovEntry)" />
                                    <span class="afx-checkbox-md-style">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <label class="aw-jswidgets-checkboxLabel" for="{{lovEntry.propInternalValue + $id}}">{{lovEntry.propDisplayValue}}</label>
                        </span>
                        <div ng-if="lovEntry.propDisplayDescription" class="aw-widgets-cellListCellItemType aw-base-small" title="{{lovEntry.propDisplayDescription}}">{{lovEntry.propDisplayDescription}}</div>
                    </div>
                </li>
            </div>

            <li class="aw-jswidgets-nestingListItem" ng-repeat="lovEntry in filtered = (lovEntries | filter: search)">
                <div class="aw-jswidgets-nestingListItemDisplay">
                    <span>
                        <div class="afx-checkbox afx-checkbox-label-right">
                            <label>
                                <input type="checkbox" id="{{lovEntry.propInternalValue + $id}}" class="aw-jswidgets-checkboxButton" ng-model="lovEntry.sel" ng-change="updateArray(lovEntry)" />
                                <span class="afx-checkbox-md-style">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <label class="aw-jswidgets-checkboxLabel" for="{{lovEntry.propInternalValue + $id}}">{{lovEntry.propDisplayValue}}</label>
                    </span>
                    <div ng-if="lovEntry.propDisplayDescription" class="aw-widgets-cellListCellItemType aw-base-small" title="{{lovEntry.propDisplayDescription}}">{{lovEntry.propDisplayDescription}}</div>
                </div>
            </li>

            <li class="aw-jswidgets-loading" ng-class="loadingClass()">&nbsp;</li>
        </ul>
    </div>
</div>
