<div class="aw-base-normal aw-layout-flexRow"
     ng-class="{'aw-ui-filterNameLabelSelected': filter.selected, 'aw-ui-filterNameLabel': !filter.selected}"
     title="{{filter.name}}"
     ng-click="select(category, filter, $event)">
    <span id="filterLabelColorBlock1"
           class="aw-ui-filterNameColorBlock {{filter.color}}"
           visible-when="filter.showColor">&nbsp;
    </span>
    <div class="aw-ui-filterCategoryNameAndCountContainer aw-layout-flexRow">
        <span class="aw-ui-filterCategoryName">{{filter.name}}&nbsp;</span>
        <span class="aw-layout-flexRow aw-ui-filterCategoryCountContainer">
            <span ng-if="category.type === 'RadioFilter' ">
                {{filter.count > 0 ? '(' +  filter.count + ')' : ''}}
            </span>
            <span ng-if="category.type !== 'RadioFilter' ">
                {{filter.showCount ? '(' +  filter.count + ')' : ''}}
            </span>
        </span>
    </div>
    <div class="aw-ui-filterCategoryShowSuffixIconContainer" ng-if="filter.showSuffixIcon">
        <aw-icon class="aw-ui-filterCategoryShowSuffixIcon" id="{{filter.suffixIconId}}"></aw-icon>
    </div>
</div>
