<aw-filter-category-date-range-filter
    ng-if="category.showDateRangeFilter"
    search-action="searchAction"
    category= "category"
    id="{{category.displayName}}">
</aw-filter-category-date-range-filter >

<aw-filter-category-date-contents
    search-action="searchAction"
    filter="item"
    category= "category"
    ng-repeat="item in category.filterValues | limitTo: category.showMoreFilter ? category.defaultFilterValueDisplayCount+category.drilldown : category.filterValues.length">
</aw-filter-category-date-contents >
<!-- Show More/Less if years/months > 6 -->
<div class="aw-ui-filterNameLabelMore aw-base-normal aw-ui-filterCategoryLabelEnabled"
     ng-class="{'aw-ui-filterNameLabelDrilldown1': category.drilldown==1,
                'aw-ui-filterNameLabelDrilldown2': category.drilldown==2,
                'aw-ui-filterNameLabelDrilldown3': category.drilldown==3}"
     ng-show="category.visibleFilterCount > category.defaultFilterValueDisplayCount+category.drilldown+1"
     title="{{lessText}}" ng-click="toggleFilters(false)" >
       <span id="filterLabelColorBlock1"  class="aw-ui-filterNameColorBlock {{filter.color}}"
         visible-when="category.showEnabled && category.showColor">&nbsp;
        </span>
              {{lessText}}
</div>
<div class="aw-ui-filterNameLabelMore aw-base-normal aw-ui-filterCategoryLabelEnabled"
     ng-class="{'aw-ui-filterNameLabelDrilldown1': category.drilldown==1,
                'aw-ui-filterNameLabelDrilldown2': category.drilldown==2,
                'aw-ui-filterNameLabelDrilldown3': category.drilldown==3}"
     ng-show="category.showMoreFilter && category.filterValues.length > category.defaultFilterValueDisplayCount+category.drilldown+1"
     title="{{moreText}}" ng-click="toggleFilters(true)" >
       <span id="filterLabelColorBlock1"  class="aw-ui-filterNameColorBlock {{filter.color}}"
         visible-when="category.showEnabled && category.showColor">&nbsp;
        </span>
              {{moreText}}
</div>


