<div class="aw-base-normal aw-layout-flexRow" ng-if="category.showDateFilter && !filter.showDrilldown"
     ng-class="{'aw-ui-filterNameLabelSelected': filter.selected,
                'aw-ui-filterNameLabel': !filter.selected}"
     title="{{filter.name}}"
     ng-click="select(category, filter, $event)">
     <span id="filterLabelColorBlock1"
           class="aw-ui-filterNameColorBlock {{filter.color}}"
           visible-when="filter.showColor">&nbsp;
      </span>
      <div class="aw-ui-filterCategoryNameAndCountContainer aw-layout-flexRow">
            <span class="aw-ui-filterCategoryName">{{filter.name}}&nbsp;</span>
            <span class="aw-layout-flexRow aw-ui-filterCategoryCountContainer">{{filter.showCount ? '(' +  filter.count + ')' : ''}}</span>
      </div>
</div>
<!-- drilldown date filters -->
<div class="aw-base-normal aw-layout-flexRow" ng-if="filter.showDrilldown"
     ng-class="{'aw-ui-filterNameLabelSelectedDrilldown1': filter.selected  && filter.drilldown==1,
                'aw-ui-filterNameLabelSelectedDrilldown2': filter.selected  && filter.drilldown==2,
                'aw-ui-filterNameLabelSelectedDrilldown3': filter.selected  && filter.drilldown==3,
                'aw-ui-filterNameLabelSelectedDrilldown4': filter.selected  && filter.drilldown==4,
                'aw-ui-filterNameLabelDrilldown1': !filter.selected  && filter.drilldown==1,
                'aw-ui-filterNameLabelDrilldown2': !filter.selected  && filter.drilldown==2,
                'aw-ui-filterNameLabelDrilldown3': !filter.selected  && filter.drilldown==3,
                'aw-ui-filterNameLabelDrilldown4': !filter.selected  && filter.drilldown==4
                }"
     title="{{filter.name}}"
     ng-click="select(category, filter)">
     <span id="filterLabelColorBlock1"
           class="aw-ui-filterNameColorBlock {{filter.color}}"
           visible-when="filter.showColor">&nbsp;
      </span>
      <div class="aw-ui-filterCategoryNameAndCountContainer aw-layout-flexRow">
            <span class="aw-ui-filterCategoryName">{{filter.name}}&nbsp;</span>
            <span class="aw-layout-flexRow aw-ui-filterCategoryCountContainer">{{filter.showCount ? '(' +  filter.count + ')' : ''}}</span>
      </div>
</div>


