<div class="aw-layout-flexRowContainer aw-widgets-namingRuleGroup">
    <div ng-if="isSinglePattern" class="aw-widgets-propertylabel">({{prop.patterns[0]}})</div>
    <div ng-if="isMultiplePattern">
        <div class="aw-widgets-listBoxContainer">
            <div ng-class="{'aw-jswidgets-popUpVisible': expanded}">
                <div class="aw-layout-flexRowContainer aw-widget-iconParent">
                    <input class="aw-jswidgets-choice" type="text"
                        ng-model="patternProp.dbValue" ng-click="toggleDropdown()"
                        ng-class="{'aw-jswidgets-expanded': expanded}" />
                    <aw-property-image name="miscChevronDown" class="aw-widget-icon" />
                </div>
                <div class="aw-jswidgets-drop aw-layout-popup aw-base-scrollPanel"
                    ng-show="expanded"
                    ng-style="{'marginTop': dropDownVerticalAdj, 'top': lovDDTop, 'left': lovDDLeft, 'width': lovDDWidth}">
                    <ul class="aw-widgets-cellListWidget">
                        <li class="aw-jswidgets-nestingListItem"
                            ng-repeat="pattern in prop.patterns">
                            <div class="aw-jswidgets-nestingListItemDisplay"
                                ng-click="setSelectedPattern(pattern)">
                                <div class="aw-jswidgets-lovValuesContainer">
                                    <div class="aw-widgets-cellListCellText aw-base-small" title={{pattern}}>{{pattern}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <aw-button class="aw-widgets-assignIdButton" ng-if="prop.isAutoAssign==false && prop.patternAutoAssignFlags[prop.selectedPattern]==true || (isSinglePattern && prop.patternAutoAssignFlags[prop.patterns[0]]==true)" ng-click="autoAssignIDs()">{{assignBtnTitle}}</aw-button>
</div>
