<div class="propertyLabelTopContainer">
    <div class="aw-layout-left">
        <div class="aw-widgets-propertyLabelTop">{{prop.propertyDisplayName}}{{prop.propertyDisplayName ? ':' : ''}}</div>
    </div>
</div>
<div class="aw-widgets-propertyLabelTopValueContainer">
    <div ng-if="!prop.isEditable">
        <aw-property-non-edit-val prop="prop" />
    </div>
    <div ng-if="prop.isEditable">
        <div ng-switch="hint">
            <div ng-switch-when="radiobutton">
                <aw-property-radio-button-val prop="prop" />
            </div>
            <div ng-switch-when="togglebutton">
                <aw-property-toggle-button-val prop="prop" />
            </div>
            <div ng-switch-when="triState">
                <aw-property-tri-state-val prop="prop" />
            </div>
            <div ng-switch-default>
                <aw-property-checkbox-val prop="prop" />
            </div>
        </div>
    </div>
</div>
