<div class="aw-propertyrenderjs-tooltipContainer" ng-mouseenter="toggleTooltip( true )" ng-mouseleave="toggleTooltip( false )">
    <div ng-if="showTooltip && inTableCell && prop.isArray && !prop.isEditing"
        class="aw-layout-popup aw-propertyrenderjs-tooltipPopup">
        <p ng-if="!(prop.type == 'OBJECT' || prop.type == 'OBJECTARRAY')" ng-bind-html="trustedRichtext"></p>
        <ul  ng-if="(prop.type == 'OBJECT' || prop.type == 'OBJECTARRAY')"
            class="aw-jswidgets-arrayNonEditValueCellList" ng-style="{'maxHeight': arrayHeight}">
            <li class="aw-jswidgets-arrayValueCellListItem" ng-repeat="displayValue in prop.displayValues track by $index">
                <aw-property-non-edit-val prop="prop" index="{{$index}}" />
            </li>
        </ul>
    </div>
    <ul class="aw-jswidgets-arrayNonEditValueCellList" ng-style="{'maxHeight': arrayHeight}">
        <li class="aw-jswidgets-arrayValueCellListItem" ng-repeat="displayValue in prop.displayValues track by $index">
            <aw-property-non-edit-val prop="prop" index="{{$index}}" />
        </li>
    </ul>
</div>
