<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<!-- 
     Copyright Siemens 2019  
-->
<configuration>
	<configSections>
		<sectionGroup name="InSite">
			<sectionGroup name="WebApplication">
				<sectionGroup name="Application">
					<section name="DefaultSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"></section>
				</sectionGroup>
			</sectionGroup>
			<!-- WebApplication -->
		</sectionGroup>
		<section name="CamstarPortal" type="Camstar.WebPortal.Utilities.CamstarPortalConfigurationSection, Camstar.WebPortal.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"></section>
		<sectionGroup name="businessObjects">
			<sectionGroup name="crystalReports">
				<section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"></section>
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"></section>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<location path="CamstarUploads">
		<system.web>
			<authorization>
				<deny users="?"></deny>
			</authorization>
		</system.web>
	</location>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="4000"></add>
		</connectionManagement>
	</system.net>
	<system.serviceModel>
		<protocolMapping>
			<add scheme="https" binding="basicHttpBinding"></add>
		</protocolMapping>
		<client configSource="Endpoints.config"></client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="DefaultBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"></dataContractSerializer>
				</behavior>
				<behavior name="webBehavior">
					<webHttp defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true" defaultBodyStyle="Wrapped" automaticFormatSelectionEnabled="false"></webHttp>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<serviceMetadata httpGetEnabled="true"></serviceMetadata>
					<serviceDebug includeExceptionDetailInFaults="true"></serviceDebug>
					<serviceThrottling maxConcurrentCalls="4000" maxConcurrentInstances="4000" maxConcurrentSessions="4000"></serviceThrottling>
				</behavior>
				<behavior name="DefaultBehaviorSSL">
					<serviceMetadata httpsGetEnabled="true"></serviceMetadata>
					<serviceDebug includeExceptionDetailInFaults="true"></serviceDebug>
					<serviceThrottling maxConcurrentCalls="4000" maxConcurrentInstances="4000" maxConcurrentSessions="4000"></serviceThrottling>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="DefaultBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"></readerQuotas>
				</binding>
				<!-- DefaultBindingSSL is used for SSL mode -->
				<binding name="DefaultBindingSSL" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"></readerQuotas>
					<security mode="Transport">
						<transport clientCredentialType="None"></transport>
					</security>
				</binding>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="DefaultBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"></readerQuotas>
					<security mode="None">
						<transport clientCredentialType="None"></transport>
					</security>
				</binding>
				<binding name="DefaultBindingSSL" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"></readerQuotas>
					<security mode="Transport">
						<transport clientCredentialType="None"></transport>
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>
		<services>
   <service behaviorConfiguration="DefaultBehaviorSSL" name="WebClientPortal.SilverlightRoutingService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBindingSSL"
     contract="System.ServiceModel.Routing.IRequestReplyRouter" />
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="DefaultBehaviorSSL" name="WebClientPortal.PortalStudioService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBindingSSL"
     contract="WebClientPortal.PortalStudioService" />
    <endpoint address="web" behaviorConfiguration="webBehavior" binding="webHttpBinding"
     bindingConfiguration="DefaultBindingSSL" contract="WebClientPortal.PortalStudioService" />
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="DefaultBehaviorSSL" name="WebClientPortal.ApolloPortalService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBindingSSL"
     contract="WebClientPortal.ApolloPortalService" />
    <endpoint address="web" behaviorConfiguration="webBehavior" binding="webHttpBinding"
     bindingConfiguration="DefaultBindingSSL" contract="WebClientPortal.ApolloPortalService" />
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="DefaultBehaviorSSL" name="WebClientPortal.SmartScanService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBindingSSL"
     contract="WebClientPortal.SmartScanService" />
    <endpoint address="web" behaviorConfiguration="webBehavior" binding="webHttpBinding"
     bindingConfiguration="DefaultBindingSSL" contract="WebClientPortal.SmartScanService" />
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
   </service>
  </services>
	</system.serviceModel>
	<appSettings>
		<add key="ServerSideViewState" value="true"></add>
		<!--ViewStateStore: session|application|appglobals|cache-->
		<add key="ViewStateStore" value="session"></add>
		<add key="CrystalImageCleaner-AutoStart" value="true"></add>
		<add key="CrystalImageCleaner-Sleep" value="60000"></add>
		<add key="CrystalImageCleaner-Age" value="120000"></add>
		<add key="vs:EnableBrowserLink" value="false"></add>
		<add key="PortalStudioVersion" value="2"></add>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<httpCookies httpOnlyCookies="True" requireSSL="True"></httpCookies>
		<pages enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="false" viewStateEncryptionMode="Always">
			<controls>
				<add tagPrefix="fb" namespace="Camstar.WebPortal.FormsFramework.WebControls" assembly="Camstar.WebPortal.FormsFramework.WebControls"></add>
				<add tagPrefix="fbg" namespace="Camstar.WebPortal.FormsFramework.WebGridControls" assembly="Camstar.WebPortal.FormsFramework.WebGridControls"></add>
				<add tagPrefix="csc" namespace="CamstarPortal.WebControls" assembly="CamstarPortal.WebControls"></add>
				<add tagPrefix="cwfw" namespace="Camstar.WebPortal.FormsFramework.WebControls" assembly="Camstar.WebPortal.FormsFramework.WebControls"></add>
				<add tagPrefix="cwpf" namespace="Camstar.WebPortal.PortalFramework" assembly="Camstar.WebPortal.PortalFramework"></add>
				<add tagPrefix="cwpfc" namespace="Camstar.WebPortal.WebPortlets"></add>
				<add tagPrefix="cwpc" namespace="Camstar.WebPortal.WebPortlets" assembly="Camstar.WebPortal.WebPortlets"></add>
			</controls>
			<namespaces>
				<add namespace="System.Web.Optimization"></add>
			</namespaces>
		</pages>
		<!-- >
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development. batch="false" resolves PS cannot be opened occasionally unknown issue
        -->
		<compilation targetFramework="4.7.2" batch="false" debug="false">
			<assemblies>
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></add>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"></add>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"></add>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"></add>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></add>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></add>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></add>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="System.Workflow.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"></add>
				<add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></add>
				<add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></add>
				<add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></add>
				<add assembly="System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"></add>
				<add assembly="System.Workflow.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"></add>
				<add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></add>
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"></add>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="Microsoft.Build.Tasks.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="Microsoft.Build.Utilities.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="System.ServiceModel.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"></add>
				<add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
				<add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"></add>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name=".INSITEPORTALAUTH" loginUrl="Default.htm" defaultUrl="Main.aspx" timeout="200" cookieless="UseCookies" requireSSL="True" slidingExpiration="true"></forms>
		</authentication>
		<authorization>
			<allow users="*"></allow>
		</authorization>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"></sessionState>
		<customErrors mode="RemoteOnly" defaultRedirect="CamstarErrorPage.aspx" redirectMode="ResponseRewrite"></customErrors>
		<httpHandlers>
			<add verb="*" path="AjaxEntry.axd" validate="false" type="Camstar.WebPortal.PortalFramework.AjaxEntry, Camstar.WebPortal.PortalFramework"></add>
			<add verb="*" path="CrystalData*.axd" validate="false" type="Camstar.WebPortal.PortalFramework.CrystalData, Camstar.WebPortal.PortalFramework"></add>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"></add>
		</httpHandlers>
		<httpModules>
			<!--
      <add name="HttpCompressModule" type="DC.Web.HttpCompress.HttpModule,DC.Web.HttpCompress"/>
      -->
		</httpModules>
		<webParts>
			<personalization defaultProvider="DummyPersonalizationProvider">
				<providers>
					<add name="DummyPersonalizationProvider" type="Camstar.WebPortal.PortalFramework.DummyPersonalizationProvider, Camstar.WebPortal.PortalFramework"></add>
				</providers>
				<authorization>
					<allow users="*" verbs="enterSharedScope"></allow>
				</authorization>
			</personalization>
		</webParts>
		<profile defaultProvider="CamstarProfileProvider">
			<providers>
				<add name="CamstarProfileProvider" type="Camstar.WebPortal.PortalFramework.CamstarProfileProvider, Camstar.WebPortal.PortalFramework"></add>
			</providers>
			<properties>
				<add name="ThemePreference" allowAnonymous="false"></add>
				<add name="MasterPreference" defaultValue="MasterPage.master" allowAnonymous="false"></add>
			</properties>
		</profile>
		<httpRuntime targetFramework="4.7.2" executionTimeout="110" requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="4194304"></httpRuntime>
		<trace enabled="false" pageOutput="false"></trace>
		<machineKey validation="AES" compatibilityMode="Framework20SP2"></machineKey>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"></remove>
			</customHeaders>
		</httpProtocol>
		<modules runAllManagedModulesForAllRequests="true"></modules>
		<caching>
			<profiles>
				<add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
				<add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
				<add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
			</profiles>
		</caching>
		<validation validateIntegratedModeConfiguration="false"></validation>
		<handlers accessPolicy="Read, Script">
			<add name="AjaxEntry" path="AjaxEntry.axd" verb="*" type="Camstar.WebPortal.PortalFramework.AjaxEntry" resourceType="Unspecified" preCondition="integratedMode"></add>
			<add name="CrystalData" path="CrystalData*.axd" verb="*" preCondition="integratedMode" type="Camstar.WebPortal.PortalFramework.CrystalData, Camstar.WebPortal.PortalFramework"></add>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"></add>
		</handlers>
		<security>
			<requestFiltering removeServerHeader="true">
				<requestLimits maxAllowedContentLength="62914560"></requestLimits>
				<denyQueryStringSequences>
					<add sequence=".."></add>
					<add sequence="\"></add>
					<add sequence="~"></add>
				</denyQueryStringSequences>
			</requestFiltering>
		</security>
		<staticContent>
			<remove fileExtension=".woff"></remove>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff"></mimeMap>
			<mimeMap fileExtension=".bod" mimeType="application/octet-stream"></mimeMap>
			<mimeMap fileExtension=".jt" mimeType="application/octet-stream"></mimeMap>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"></clientCache>
		</staticContent>
		<defaultDocument>
			<files>
				<clear></clear>
				<add value="Main.aspx"></add>
			</files>
		</defaultDocument>
        <directoryBrowse enabled="false" />
        <urlCompression doDynamicCompression="true" />
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<!--  <webServices>
        -->
			<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
			<!--
        -->
			<!--
        <jsonSerialization maxJsonLength="500">
          <converters>
            <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
          </converters>
        </jsonSerialization>
        -->
			<!--
        -->
			<!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
			<!--
        -->
			<!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
        -->
			<!--
        -->
			<!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
        and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
        writeAccessProperties attributes. -->
			<!--
        -->
			<!--
        <profileService enabled="true"
          readAccessProperties="propertyname1,propertyname2"
          writeAccessProperties="propertyname1,propertyname2" />
        -->
			<!--
      </webServices>
      -->
			<scriptResourceHandler enableCompression="false" enableCaching="true"></scriptResourceHandler>
		</scripting>
	</system.web.extensions>
	<businessObjects>
		<crystalReports>
			<crystalReportViewer>
				<add key="resourceURI" value="/crystalreportviewers13"></add>
			</crystalReportViewer>
		</crystalReports>
	</businessObjects>
	<system.diagnostics>
		<trace autoflush="false">
			<listeners>
				<add name="PortalTrace" type="Camstar.WebPortal.FormsFramework.PortalTraceListener, Camstar.WebPortal.FormsFramework"></add>
			</listeners>
		</trace>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"></assemblyIdentity>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"></bindingRedirect>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"></compiler>
		</compilers>
	</system.codedom>
</configuration>
